.tooltip {
   position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgba(97, 134, 204, 1);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  .detail:hover .tooltiptext {
    visibility: visible;
  }
  td.hidden
  {
  display:none;
  }