<div class="wrapper">
    <!-- Navbar -->
    <app-header-sidebar></app-header-sidebar>

    <!-- here here here -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <!--  <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"> Promotion and News </h1>
                    </div>
                </div> -->
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <form>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title" style="font-weight: bold;"> Promotion and News Detail </h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <label class="col-md-2"> Title </label>
                                            <div class="form-group col-md-3">
                                                <input class="form-control form-control-sm" [(ngModel)]="promoDTO.title"
                                                    [ngModelOptions]="{standalone: true}">
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-6"  style="display: none;">
                                                <input #saveCheckBox id="saveCheckBox" type="checkbox"
                                                    [checked]="isChecked" [(ngModel)]="isChecked"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (change)="onclickChanged($event)"
                                                    style="width: 1.30rem;height: 1.30rem;margin-right: 6px;" />
                                                <label for="saveCheckBox"> For 2D/3D </label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-md-2"> Brief </label>
                                            <div class="form-group col-md-3">
                                                <textarea class="form-control form-control-sm" id="brief" rows="2"
                                                    [(ngModel)]="promoDTO.brief" [ngModelOptions]="{standalone: true}"
                                                    [ngModelOptions]="{standalone: true}"></textarea>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <label class="col-md-2" style="display: none;"> Type </label>

                                            <div class="form-group col-md-3" style="display: none;">
                                                <select *ngIf="uiDisable"
                                                    class="time form-control form-control-sm col-md-12 col-sm-4 col-xs-4"
                                                    [(ngModel)]="promoDTO.type" [ngModelOptions]="{standalone: true}"
                                                    disabled>
                                                    <option value="2D" selected> 2D </option>
                                                    <option value="3D"> 3D </option>
                                                </select>

                                                <select *ngIf="!uiDisable"
                                                    class="time form-control form-control-sm col-md-12 col-sm-4 col-xs-4"
                                                    [(ngModel)]="promoDTO.type" [ngModelOptions]="{standalone: true}">
                                                    <option value="2D" selected> 2D </option>
                                                    <option value="3D"> 3D </option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <label class="col-md-2"> Description </label>
                                            <div class="form-group col-md-3">
                                                <textarea class="form-control" id="description" rows="4"
                                                    [(ngModel)]="promoDTO.description"
                                                    [ngModelOptions]="{standalone: true}"></textarea>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <label class="col-md-2" style="margin-top: -1.8%;display: none;"> Odds </label>

                                            <div class="form-group col-md-3" style="margin-top: -1.8%; display: none;">
                                                <input *ngIf="uiDisable" type="number"
                                                    onKeyPress="if(this.value.length==3) return false;"
                                                    class="form-control form-control-sm" [(ngModel)]="promoDTO.odd"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (keypress)="numericOnly($event)" disabled>


                                                <input *ngIf="!uiDisable" type="number"
                                                    onKeyPress="if(this.value.length==3) return false;"
                                                    class="form-control form-control-sm" [(ngModel)]="promoDTO.odd"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (keypress)="numericOnly($event)">
                                            </div>
                                        </div>

                                        <div class="row" id="password">
                                            <label class="col-md-2"> URL </label>
                                            <div class="form-group col-md-3">
                                                <input class="form-control form-control-sm"  id="url" [(ngModel)]="promoDTO.url"
                                                    [ngModelOptions]="{standalone: true}">
                                            </div>
                                            <div class="col-md-1"></div>
                                            <label class="col-md-2" style="margin-top: -8.9%;"  style="display: none;"> For Date </label>

                                            <div class="form-group col-md-3" style="margin-top: -8.9%;"  style="display: none;">
                                                <input *ngIf="uiDisable" id="forDate" readonly
                                                    class="form-control form-control-sm" placeholder="Select For Date"
                                                    [ngxDatePicker]="fordateInstanceSingle" [value]="forDate"
                                                    (valueChange)="onChangeToDate()" [(ngModel)]="changeforDate"
                                                    [ngModelOptions]="{standalone: true}" disabled>

                                                <input *ngIf="!uiDisable" id="forDate" readonly
                                                    class="form-control form-control-sm" placeholder="Select For Date"
                                                    [ngxDatePicker]="fordateInstanceSingle" [value]="forDate"
                                                    (valueChange)="onChangeToDate()" [(ngModel)]="changeforDate"
                                                    [ngModelOptions]="{standalone: true}">
                                                <ngx-date-picker #fordateInstanceSingle></ngx-date-picker>
                                            </div>
                                        </div>


                                        <div class="row" id="confirmPassword">
                                            <label class="col-md-2"> Image </label>
                                            <div class="form-group col-md-3">
                                          
                                          <!--<input class="form-control form-control-sm"  id="imgUrl" [(ngModel)]="promoDTO.imageUrl"
                                                    [ngModelOptions]="{standalone: true}"> -->
                                          
                                                <input #file type="file" accept='image/*'
                                                    (change)="preview(file.files)" />

                                                <img [src]="imgURL" height="200" width="255" *ngIf="imgURL"
                                                    style="margin-top: 5%;">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-md-2"> Status </label>
                                            <div class="form-group col-md-3 radio">
                                              <div class="form-group clearfix">
                                                <div class="icheck-success d-inline">
                                                  <input type="radio" name="r3" checked id="radioSuccess1" value="ACTIVE"
                                                    [(ngModel)]="promoDTO.status" [ngModelOptions]="{standalone: true}">
                                                  <label for="radioSuccess1">Active &nbsp;&nbsp;
                                                  </label>
                                                </div>
                                                <div class="icheck-success d-inline">
                                                  <input type="radio" name="r3" id="radioSuccess2" value="INACTIVE"
                                                    [(ngModel)]="promoDTO.status" [ngModelOptions]="{standalone: true}">
                                                  <label for="radioSuccess2">Inactive
                                                  </label>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                        <div class="row" style="margin-top: 1%;">
                                            <div class="col-md-2 col-sm-6">
                                                <button type="button" class="btn btn-block btn-success"
                                                    (click)="goSave()">Save</button>&nbsp;</div>
                                            <div class="col-md-2 col-sm-6">
                                                <button type="button" class="btn btn-block btn-danger"
                                                    [routerLink]="['/promotion-and-news-list']"> Cancel </button></div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <!-- /.row -->

                <!-- /.row -->
            </div>
            <!--/. container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>

    <app-footer></app-footer>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
        <p style="font-size: 16px; color: white">Loading...</p>
    </ngx-spinner>

</div>


<div id="deleteData" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <form>

                    <div class="row" style="margin-top: 5%;margin-bottom: 3%;margin-left: 9%;">
                        <div class="form-group col-md-12">
                            <h5> This Account is used by another device. 
                                Please Sign Out. Login Again. </h5>
                        </div>
                    </div>

                    <div class="row" style="margin-left: 40%;margin-bottom: 3%;">
                        <div class="col-md-5 col-sm-6" id="deleteBtn">
                            <button type="button" class="btn btn-block btn-success" (click)="OkLogout()"> Ok </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>