a {
    font-family: inherit; /* For all browsers */
    font-size: 100%; /* For all browsers */
    line-height: 1.15; /* For all browsers */
    margin: 0; /* Firefox and Safari have margin */
    overflow: visible; /* Edge hides overflow */
    text-transform: none; /* Firefox inherits text-transform */
    -webkit-appearance: button; /* Safari otherwise prevents some styles */
    width: 210px;
    padding: 5px 5px;
    color : #ffffff;
    border-radius: 5px;
  }