<div class="wrapper">
  <app-header-sidebar></app-header-sidebar>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2" style="border: 1px solid #ced4da;border-radius: 0.25rem;">
          <div class="col-sm-6">
            <h3 class="m-0 text-dark" style="font-weight: bold;padding: 3px 0px 3px 5px;"> Withdrawal </h3>
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <form>
          <div class="row">

            <div class="col-md-12">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs nav-pills">
                <li (click)="search()">
                  <a class="active" id="all-tab" data-toggle="tab" href="#all"> ALL </a>
                </li>
                <li (click)="pendingSearch()">
                  <a id="pending-tab" data-toggle="tab" href="#pending"> PENDING </a>
                </li>
                <li (click)="checkedSearch()">
                  <a id="checked-tab" data-toggle="tab" href="#checked"> CHECKED </a>
                </li>
                <li (click)="approveSearch()">
                  <a id="approve-tab" data-toggle="tab" href="#approve"> APPROVE </a>
                </li>
                <li (click)="deniedSearch()">
                  <a id="denied-tab" data-toggle="tab" href="#denied"> DENIED </a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content clearfix">

                <div class="tab-pane show active" id="all">
                  <div class="row">

                    <div class="form-group col-md-2">
                      <label>Account No</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="accountNo"
                        [ngModelOptions]="{standalone: true}" (keypress)="numericOnly($event)">
                    </div>

                    <div class="form-group col-md-2">
                      <label>From Date</label>
                      <input id="singleDate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstanceSingle" [value]="singleDate" [(ngModel)]="date"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangeSingle()">
                      <ngx-date-picker #dateInstanceSingle></ngx-date-picker>
                    </div>

                    <div class="form-group col-md-2">
                      <label>To Date</label>
                      <input id="alltodate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstanceSingle1" [value]="alltoDate" [(ngModel)]="alltodate"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangeAllToDate()">
                      <ngx-date-picker #dateInstanceSingle1></ngx-date-picker>
                    </div>


                  <!-- <div class="col-md-6"></div> -->

                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                      <label></label>
                      <button id="search" type="button" class="btn btn-block btn-primary btn-sm" style="margin-top: 4%;"
                        (click)="search()">Search</button>
                    </div>

                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title" style="font-weight: bold;"> Withdrawal All List </h3>
                        </div>
                        <div class="card-body">
                          <table width='100%' id="{{'tblWithdraw' + idIndex}}" datatable [dtTrigger]="dtTrigger"
                            [dtOptions]="dtOptions" class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th style="font-family: unicode;">Account No</th>
								 <th style="font-family: unicode;">Wallet</th>
                                <th style="font-family: unicode;">Amount</th>
                                <th style="font-family: unicode;">Payment</th>
                                <th style="font-family: unicode;">Phone No</th>
                                <th style="font-family: unicode;">Status</th>
                                <th style="font-family: unicode;">Requested Date</th>
                                <th style="font-family: unicode;">Requested By</th>
                                <th style="font-family: unicode;">Update Date</th>
                                <th style="font-family: unicode;">Updated By</th>
                                <th style="font-family: unicode;">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let withdraw of withdrawList">
                                <td style="font-family: unicode;">{{withdraw.account_no}}</td>
								 <td style="font-family: unicode;" class="text-right">{{withdraw.balance_Str}}</td>
                                <td style="font-family: unicode;" class="text-right">{{withdraw.amount_Str}}</td>
                                <td style="font-family: unicode;">{{withdraw.payment}}</td>
                                <td style="font-family: unicode;"><a [routerLink] = "['/user-detail', withdraw.uid]">{{withdraw.phone_no}}</a></td>
                                <td style="font-family: unicode;">{{withdraw.status}}</td>
                                <td style="font-family: unicode;">{{withdraw.created_date_string}}</td>
                                <td style="font-family: unicode;">{{withdraw.name}}</td>
                                <td style="font-family: unicode;">{{withdraw.updated_date_string}}</td>
                                <td style="font-family: unicode;">{{withdraw.updated_by_name}}</td>
                                <td style="font-family: unicode;"><a
                                    [routerLink]="['/withdraw-check-detail', withdraw.id]"><i class="fas fa-edit"
                                      style="color:#4b88eb"></i></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="tab-pane" id="pending">
                  <div class="row">

                    <div class="form-group col-md-2">
                      <label>Account No</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="pendingaccountNo"
                        [ngModelOptions]="{standalone: true}" (keypress)="numericOnly($event)">
                    </div>

                    <div class="form-group col-md-2">
                      <label>From Date</label>
                      <input id="pendingDate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstancePending" [value]="pendingDate" [(ngModel)]="pendingdate"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangePending()">
                      <ngx-date-picker #dateInstancePending></ngx-date-picker>
                    </div>

                    <div class="form-group col-md-2">
                      <label>To Date</label>
                      <input id="pendingtodate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstancePending1" [value]="pendingtoDate" [(ngModel)]="pendingtodate"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangePendingToDate()">
                      <ngx-date-picker #dateInstancePending1></ngx-date-picker>
                    </div>


                     <!-- <div class="col-md-6"></div> -->

                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                      <label></label>
                      <button id="search" type="button" class="btn btn-block btn-primary btn-sm" style="margin-top: 4%;"
                        (click)="pendingSearch()">Search</button>
                    </div>

                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title" style="font-weight: bold;"> Withdrawal Pending List </h3>
                        </div>
                        <div class="card-body">
                          <table width='100%' id="{{'tblpendingWithdraw' + idpendingIndex}}" datatable
                            [dtTrigger]="dtTrigger1" [dtOptions]="dtOptions1" class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th style="font-family: unicode;">Account No</th>
								<th style="font-family: unicode;">Wallet</th>
                                <th style="font-family: unicode;">Amount</th>
                                <th style="font-family: unicode;">Payment</th>
                                <th style="font-family: unicode;">Phone No</th>
                                <th style="font-family: unicode;">Status</th>
                                <th style="font-family: unicode;">Requested Date</th>
                                <th style="font-family: unicode;">Requested By</th>
                                <th style="font-family: unicode;">Update Date</th>
                                <th style="font-family: unicode;">Updated By</th>
                                <th style="font-family: unicode;">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let withdraw of withdrawPendingList">
                                <td style="font-family: unicode;">{{withdraw.account_no}}</td>
								 <td style="font-family: unicode;" class="text-right">{{withdraw.balance_Str}}</td>
                                <td style="font-family: unicode;" class="text-right">{{withdraw.amount_Str}}</td>
                                <td style="font-family: unicode;">{{withdraw.payment}}</td>
                                <td style="font-family: unicode;"><a [routerLink] = "['/user-detail', withdraw.uid]">{{withdraw.phone_no}}</a></td>
                                <td style="font-family: unicode;">{{withdraw.status}}</td>
                                <td style="font-family: unicode;">{{withdraw.created_date_string}}</td>
                                <td style="font-family: unicode;">{{withdraw.name}}</td>
                                <td style="font-family: unicode;">{{withdraw.updated_date_string}}</td>
                                <td style="font-family: unicode;">{{withdraw.updated_by_name}}</td>
                                <td style="font-family: unicode;"><a
                                    [routerLink]="['/withdraw-check-detail', withdraw.id]"><i class="fas fa-edit"
                                      style="color:#4b88eb"></i></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="tab-pane" id="checked">
                  <div class="row">

                    <div class="form-group col-md-2">
                      <label>Account No</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="checkedaccountNo"
                        [ngModelOptions]="{standalone: true}" (keypress)="numericOnly($event)">
                    </div>

                    <div class="form-group col-md-2">
                      <label>From Date</label>
                      <input id="checkedDate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstanceChecked" [value]="checkedDate" [(ngModel)]="checkeddate"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangeChecked()">
                      <ngx-date-picker #dateInstanceChecked></ngx-date-picker>
                    </div>

                    <div class="form-group col-md-2">
                      <label>To Date</label>
                      <input id="addedtodate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstanceAdded1" [value]="addedtoDate" [(ngModel)]="addedtodate"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangeAddedToDate()">
                      <ngx-date-picker #dateInstanceAdded1></ngx-date-picker>
                    </div>


                     <!-- <div class="col-md-6"></div> -->

                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                      <label></label>
                      <button id="search" type="button" class="btn btn-block btn-primary btn-sm" style="margin-top: 4%;"
                        (click)="checkedSearch()">Search</button>
                    </div>

                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title" style="font-weight: bold;"> Withdrawal Checked List </h3>
                        </div>
                        <div class="card-body">
                          <table width='100%' id="{{'tblcheckedWithdraw' + idcheckedIndex}}" datatable
                            [dtTrigger]="dtTrigger4" [dtOptions]="dtOptions4" class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th style="font-family: unicode;">Account No</th>
						                		<th style="font-family: unicode;">Wallet</th>
                                <th style="font-family: unicode;">Amount</th>
                                <th style="font-family: unicode;">Payment</th>
                                <th style="font-family: unicode;">Phone No</th>
                                <th style="font-family: unicode;">Status</th>
                                <th style="font-family: unicode;">Requested Date</th>
                                <th style="font-family: unicode;">Requested By</th>
                                <th style="font-family: unicode;">Update Date</th>
                                <th style="font-family: unicode;">Updated By</th>
                                <th style="font-family: unicode;">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let withdraw of withdrawCheckedList">
                                <td style="font-family: unicode;">{{withdraw.account_no}}</td>
								                 <td style="font-family: unicode;" class="text-right">{{withdraw.balance_Str}}</td>
                                <td style="font-family: unicode;" class="text-right">{{withdraw.amount_Str}}</td>
                                <td style="font-family: unicode;">{{withdraw.payment}}</td>
                                <td style="font-family: unicode;"><a [routerLink] = "['/user-detail', withdraw.uid]">{{withdraw.phone_no}}</a></td>
                                <td style="font-family: unicode;">{{withdraw.status}}</td>
                                <td style="font-family: unicode;">{{withdraw.created_date_string}}</td>
                                <td style="font-family: unicode;">{{withdraw.name}}</td>
                                <td style="font-family: unicode;">{{withdraw.updated_date_string}}</td>
                                <td style="font-family: unicode;">{{withdraw.updated_by_name}}</td>
                                <td style="font-family: unicode;"><a
                                    [routerLink]="['/withdraw-check-detail', withdraw.id]"><i class="fas fa-edit"
                                      style="color:#4b88eb"></i></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="tab-pane" id="approve">
                  <div class="row">

                    <div class="form-group col-md-2">
                      <label>Account No</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="approveaccountNo"
                        [ngModelOptions]="{standalone: true}" (keypress)="numericOnly($event)">
                    </div>

                    <div class="form-group col-md-2">
                      <label>Requested Date</label>
                      <input id="approveDate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstanceApprove" [value]="approveDate" [(ngModel)]="approvedate"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangeApprove()">
                      <ngx-date-picker #dateInstanceApprove></ngx-date-picker>
                    </div>

                    <div class="form-group col-md-2">
                      <label>To Date</label>
                      <input id="approvetodate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstanceApprove1" [value]="approvetoDate" [(ngModel)]="approvetodate"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangeApproveToDate()">
                      <ngx-date-picker #dateInstanceApprove1></ngx-date-picker>
                    </div>

                   <!-- <div class="col-md-6"></div> -->

                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                      <label></label>
                      <button id="search" type="button" class="btn btn-block btn-primary btn-sm" style="margin-top: 4%;"
                        (click)="approveSearch()">Search</button>
                    </div>

                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title" style="font-weight: bold;"> Withdrawal Approved List </h3>
                        </div>
                        <div class="card-body">
                          <table width='100%' id="{{'tblapproveWithdraw' + idapproveIndex}}" datatable
                            [dtTrigger]="dtTrigger2" [dtOptions]="dtOptions2" class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th style="font-family: unicode;">Account No</th>
								<th style="font-family: unicode;">Wallet</th>
                                <th style="font-family: unicode;">Amount</th>
                                <th style="font-family: unicode;">Payment</th>
                                <th style="font-family: unicode;">Phone No</th>
                                <th style="font-family: unicode;">Status</th>
                                <th style="font-family: unicode;">Requested Date</th>
                                <th style="font-family: unicode;">Requested By</th>
                                <th style="font-family: unicode;">Update Date</th>
                                <th style="font-family: unicode;">Updated By</th>
                                <th style="font-family: unicode;">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let withdraw of withdrawApproveList">
                                <td style="font-family: unicode;">{{withdraw.account_no}}</td>
								 <td style="font-family: unicode;" class="text-right">{{withdraw.balance_Str}}</td>
                                <td style="font-family: unicode;" class="text-right">{{withdraw.amount_Str}}</td>
                                <td style="font-family: unicode;">{{withdraw.payment}}</td>
                                <td style="font-family: unicode;"><a [routerLink] = "['/user-detail', withdraw.uid]">{{withdraw.phone_no}}</a></td>
                                <td style="font-family: unicode;">{{withdraw.status}}</td>
                                <td style="font-family: unicode;">{{withdraw.created_date_string}}</td>
                                <td style="font-family: unicode;">{{withdraw.name}}</td>
                                <td style="font-family: unicode;">{{withdraw.updated_date_string}}</td>
                                <td style="font-family: unicode;">{{withdraw.updated_by_name}}</td>
                                <td style="font-family: unicode;"><a
                                    [routerLink]="['/withdraw-check-detail', withdraw.id]"><i class="fas fa-edit"
                                      style="color:#4b88eb"></i></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="tab-pane" id="denied">
                  <div class="row">

                    <div class="form-group col-md-2">
                      <label>Account No</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="deniedaccountNo"
                        [ngModelOptions]="{standalone: true}" (keypress)="numericOnly($event)">
                    </div>

                    <div class="form-group col-md-2">
                      <label>From Date</label>
                      <input id="deniedDate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstanceDenied" [value]="deniedDate" [(ngModel)]="denieddate"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangeDenied()">
                      <ngx-date-picker #dateInstanceDenied></ngx-date-picker>
                    </div>

                    <div class="form-group col-md-2">
                      <label>To Date</label>
                      <input id="deniedtodate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstanceDenied1" [value]="deniedtoDate" [(ngModel)]="deniedtodate"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangeDeniedToDate()">
                      <ngx-date-picker #dateInstanceDenied1></ngx-date-picker>
                    </div>

                   <!-- <div class="col-md-6"></div> -->

                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                      <label></label>
                      <button id="search" type="button" class="btn btn-block btn-primary btn-sm" style="margin-top: 4%;"
                        (click)="deniedSearch()">Search</button>
                    </div>

                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title" style="font-weight: bold;">Withdrawal Denied List</h3>
                        </div>
                        <div class="card-body">
                          <table width='100%' id="{{'tbldeniedWithdraw' + iddeniedIndex}}" datatable
                            [dtTrigger]="dtTrigger3" [dtOptions]="dtOptions3" class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th style="font-family: unicode;">Account No</th>
								<th style="font-family: unicode;">Wallet</th>
                                <th style="font-family: unicode;">Amount</th>
                                <th style="font-family: unicode;">Payment</th>
                                <th style="font-family: unicode;">Phone No</th>
                                <th style="font-family: unicode;">Status</th>
                                <th style="font-family: unicode;">Requested Date</th>
                                <th style="font-family: unicode;">Requested By</th>
                                <th style="font-family: unicode;">Update Date</th>
                                <th style="font-family: unicode;">Updated By</th>
                                <th style="font-family: unicode;">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let withdraw of withdrawDeniedList">
                                <td style="font-family: unicode;">{{withdraw.account_no}}</td>
								  <td style="font-family: unicode;" class="text-right">{{withdraw.balance_Str}}</td>
                                <td style="font-family: unicode;" class="text-right">{{withdraw.amount_Str}}</td>
                                <td style="font-family: unicode;">{{withdraw.payment}}</td>
                                <td style="font-family: unicode;"><a [routerLink] = "['/user-detail', withdraw.uid]">{{withdraw.phone_no}}</a></td>
                                <td style="font-family: unicode;">{{withdraw.status}}</td>
                                <td style="font-family: unicode;">{{withdraw.created_date_string}}</td>
                                <td style="font-family: unicode;">{{withdraw.name}}</td>
                                <td style="font-family: unicode;">{{withdraw.updated_date_string}}</td>
                                <td style="font-family: unicode;">{{withdraw.updated_by_name}}</td>
                                <td style="font-family: unicode;"><a
                                    [routerLink]="['/withdraw-check-detail', withdraw.id]"><i class="fas fa-edit"
                                      style="color:#4b88eb"></i></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

          </div>
        </form>
        <!-- /.row -->

        <!-- /.row -->
      </div>
      <!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>

  <app-footer></app-footer>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
    <p style="font-size: 16px; color: white">Loading...</p>
  </ngx-spinner>
</div>


<div id="deleteData" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-body">
              <form>

                  <div class="row" style="margin-top: 5%;margin-bottom: 3%;margin-left: 9%;">
                      <div class="form-group col-md-12">
                          <h5> This Account is used by another device. 
                              Please Sign Out. Login Again. </h5>
                      </div>
                  </div>

                  <div class="row" style="margin-left: 40%;margin-bottom: 3%;">
                      <div class="col-md-5 col-sm-6" id="deleteBtn">
                          <button type="button" class="btn btn-block btn-success" (click)="OkLogout()"> Ok </button>
                      </div>
                  </div>
              </form>
          </div>

      </div>
  </div>
</div>