.content-header {
    padding: 15px 0.8rem 15px 1rem;
}

/* table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th.dtr-control:before {
    top: 50%;
    left: 5px;
    height: 14px;
    width: 14px;
    margin-top: -12px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: unicode !important;
    line-height: 14px;
    content: '+';
    background-color: #0275d8;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
    content: '-';
    background-color: #d33333;
} */

.table th{
    padding: 4px 17px 1px 17px !important;
    font-weight: bold;
}

.table td {
   font-size: 14px !important;
}

.ui-table,
.ui-table .ui-table-wrapper table {
  font-size: 14px !important;
  font-family: unicode !important;
}

.dataTables_wrapper {  
    font-size: 14px !important;
    font-family: unicode !important;
}

/* table.dataTable>tbody>tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-family: unicode !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child, table.dataTable.dtr-inline.collapsed>tbody>tr>th.child, table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty {
    cursor: default !important;
   font-size: 14px !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child, table.dataTable.dtr-inline.collapsed>tbody>tr>th.child, table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty {
    cursor: default !important;
    font-family: unicode !important;
   font-size: 14px !important;
}

table.dataTable>tbody>tr.child {
    padding: 0.5em 1em;
    font-family: unicode !important;
}

table.dataTable>tbody>tr.child ul.dtr-details {
    display: inline-block;
    list-style-type: none;
    font-family: unicode !important;
    margin: 0;
    padding: 0;
}
 */
   