.content-header {
    padding: 15px 0.8rem 15px 1rem;
}

.table th{
    padding: 4px 17px 1px 17px !important;
    font-weight: bold;
}

.table td {
   font-size: 14px !important;
}

.ui-table,
.ui-table .ui-table-wrapper table {
  font-size: 14px !important;
  font-family: unicode !important;
}

.dataTables_wrapper {  
    font-size: 14px !important;
    font-family: unicode !important;
}

