<div class="wrapper">
    <app-header-sidebar></app-header-sidebar>
    
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2" style="border: 1px solid #ced4da;border-radius: 0.25rem;">
              <div class="col-sm-8">
                <h3 class="m-0 text-dark" style="font-weight: bold;padding: 3px 0px 3px 5px;"> User </h3>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <form>
              <div class="row">

                <div class="form-group col-md-2">
                  <label>Name</label>
                  <input class="form-control form-control-sm" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
                </div>

                <div class="form-group col-md-2">
                  <label>Phone No</label>
                  <input class="form-control form-control-sm" [(ngModel)]="phoneNo" [ngModelOptions]="{standalone: true}">
                </div>

                <div class="form-group col-md-2">
                  <label>Referral Code</label>
                  <input class="form-control form-control-sm" [(ngModel)]="referralCode" [ngModelOptions]="{standalone: true}">
                </div>

                <div class="form-group col-md-2" >
                  <label>Register From Date</label>
                  <input id="approveDate" readonly class="form-control form-control-sm" placeholder="Select Date"
                    [ngxDatePicker]="dateInstanceApprove" [value]="approveDate" [(ngModel)]="approvedate"
                    [ngModelOptions]="{standalone: true}"  (valueChange)="onChangeApprove()">
                  <ngx-date-picker #dateInstanceApprove></ngx-date-picker>
                </div>


                <div class="form-group col-md-2">
                  <label>Register To Date</label>
                  <input id="approvetoDate" readonly class="form-control form-control-sm" placeholder="Select Date"
                    [ngxDatePicker]="dateInstanceApprove1" [value]="approvetoDate" [(ngModel)]="approvetodate"
                    [ngModelOptions]="{standalone: true}"  (valueChange)="onChangeApproveTo()">
                  <ngx-date-picker #dateInstanceApprove1></ngx-date-picker>
                </div>

                <div class="form-group col-md-2">
                  <label>Status</label>
                  <select class="status form-control form-control-sm col-md-12 col-sm-4 col-xs-4" [(ngModel)]="status" [ngModelOptions]="{standalone: true}">
                    <option value="ACTIVE" selected>Active</option>
                    <option value="INACTIVE">Inactive</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-2">
                <label>App Version</label>
                    <select class="form-control form-control-sm"
                        [(ngModel)]="appVersion"
                        [ngModelOptions]="{standalone: true}" id="appVersion">
                        <option *ngFor="let appVersion of appVersionList" value={{appVersion.app_version}}>
                            {{appVersion.app_version}}
                    </select>
                </div>
                <div class="form-group col-md-2 col-sm-2 col-xs-2">
                  <label>&nbsp;&nbsp;</label>
                  <button id="search" type="button" class="btn btn-block btn-primary btn-sm" (click)="getAllData()">Search</button>
                </div>
              </div>

                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title" style="font-weight: bold;"> User List </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table width='100%' id="{{'tblUser' + idIndex}}" datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                          <th style="font-family: unicode;">Name</th>
                          <th style="font-family: unicode;">Phone No</th>
                          <th style="font-family: unicode;">Referral code</th>
                          <th style="font-family: unicode;">App Version</th>
                          <th style="font-family: unicode;">Wallet</th>
                          <th style="font-family: unicode;">Total Topup</th>
                          <th style="font-family: unicode;">Win Amount</th>
                          <th style="font-family: unicode;">Total Withdraw</th>
                          <th style="font-family: unicode;">Bet Amount</th>
                          <th style="font-family: unicode;">Status</th>
                          <th style="font-family: unicode;">Register Date</th>
                          <th style="font-family: unicode;">Last Login Date/Time</th>
                          <th style="font-family: unicode;">First Topup Date</th>
                          <th style="font-family: unicode;">First Topup Amount</th>
                          <th style="font-family: unicode;">Updated Date</th>
                          <th style="font-family: unicode;">Updated By</th>
                          <th style="font-family: unicode;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let user of userList"
                          >
                          <td style="font-family: unicode;width: 150px;">{{user.name}}</td>
                          <td style="font-family: unicode;">{{user.phone_no}}</td>
                          <td style="font-family: unicode;">{{user.referral_code}}</td>
                          <td style="font-family: unicode;">{{user.app_version}}</td>
                        <!--
                          <td style="font-family: unicode;">
                            <a [routerLink]="['/topup-check-list', user.id]" style="margin-left:7%;margin-right: 18%;color: #28a745;">
                              <span> ( + ) </span>
                            </a>
                            <a [routerLink]="['/withdraw-check-list', user.id]" style="color: #dc3545;">
                              <span> ( - ) </span>
                            </a>
                          </td>
                          -->
                          <td style="font-family: unicode;" class="text-right">{{user.balance_Str}}</td>
                          <td style="font-family: unicode;" class="text-right">{{user.topup_balance_Str}} </td>
                          <td style="font-family: unicode;" class="text-right">{{user.win_amount_Str}} </td>
                          <td style="font-family: unicode;" class="text-right">{{user.withdraw_balance_Str}} </td>
                          <td style="font-family: unicode;" class="text-right">{{user.bet_amount_Str}} </td>
                          <td style="font-family: unicode;">{{user.status}}</td>
                          <td style="font-family: unicode;">{{user.created_date_Str}}</td>
                          <td style="font-family: unicode;">{{user.last_used_time_str}}</td>
                          <td style="font-family: unicode;">{{user.first_topup_date_Str}}</td>
                          <td style="font-family: unicode;">{{user.first_topup_amt_Str}}</td>
                          <td style="font-family: unicode;">{{user.updated_date_Str}}</td>
                          <td style="font-family: unicode;">{{user.updated_by_name}}</td>
                          <td style="font-family: unicode;"><a [routerLink] = "['/user-detail', user.id]"><i class="fas fa-edit" style="color:#4b88eb"></i></a>
                          </td>
                        </tr>                        
                        </tbody>
                      </table>
                     
                      <!--XXXXXXXXXXXXXXXXXXXXXXXXX | paginate: { itemsPerPage: 10, currentPage: page}  getAllData()  -->
                        <tr *ngFor="let user of userList | paginate
                        : {
                            itemsPerPage: itemsPerPage,
                            currentPage: page,
                            totalItems: totalItems
                          }" 
                          >
                      </tr> 

                    

                    <div class = "row">
                      <div class = "col-md-6"></div>
                      <div class = "col-md-6">
                        <pagination-controls
                          class="pagi"
                          (pageChange)="gty((page = $event))"
                          
                        ></pagination-controls>
                    </div> 
                   <!-- maxSize="9"
                          directionLinks="true"
                          autoHide="false"
                          responsive="true"
                          previousLabel="Previous"
                          nextLabel="Next"
                          screenReaderPaginationLabel="Pagination"
                          screenReaderPageLabel="page"
                          screenReaderCurrentLabel="You're on page" -->
                    </div>
                  </div>
                    <!-- /.card-body -->
                  </div>
                </div>

              <!--</div>-->

            </form>
            <!-- /.row -->

            <!-- /.row -->
          </div><!--/. container-fluid -->
        </section>
        <!-- /.content -->
      </div>

<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
    <!--<div class="jumbotron">
      <div class="text-center">
      <a href="https://jsonworld.com"><h2>JSON WORLD</h2></a>
      <a href="" target="_blank"><span>Server Side Pagination in Angular using ngx-pagination</span></a>
      </div>
      <div class="list">
      <table width='50%' class="table table-bordered table-hover">
        <thead>
          <tr>
            <th style="font-family: unicode;">Item Name</th>
        </tr>
        </thead>
        <tr *ngFor="let item of collection | paginate: config">
          <td style="font-family: unicode;width: 20px;">{{ item }}</td>
      </tr>
     </table>
      <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
      </div>
    </div> -->
<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->


      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
    
    <app-footer></app-footer>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
      <p style="font-size: 16px; color: white">Loading...</p>
    </ngx-spinner>
</div>

<div id="deleteData" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-body">
              <form>

                  <div class="row" style="margin-top: 5%;margin-bottom: 3%;margin-left: 9%;">
                      <div class="form-group col-md-12">
                          <h5> This Account is used by another device. 
                              Please Sign Out. Login Again. </h5>
                      </div>
                  </div>

                  <div class="row" style="margin-left: 40%;margin-bottom: 3%;">
                      <div class="col-md-5 col-sm-6" id="deleteBtn">
                          <button type="button" class="btn btn-block btn-success" (click)="OkLogout()"> Ok </button>
                      </div>
                  </div>
              </form>
          </div>

      </div>
  </div>
</div>
