input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.content-header {
    padding: 15px 0.8rem 15px 1rem;
}

.table th{
    padding: 4px 17px 1px 17px !important;
    font-weight: bold;
}

.table td {
   font-size: 14px !important;
}

.ui-table,
.ui-table .ui-table-wrapper table {
  font-size: 14px !important;
  font-family: unicode !important;
}

.dataTables_wrapper {  
    font-size: 14px !important;
    font-family: unicode !important;
}

.nav-tabs {
    border-bottom: 1px solid #ced4da;
}

.nav {
    padding-left: 0;
    margin-bottom: 2%;
    list-style: none;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
    position: relative;
    display: block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

ul li a {
    text-decoration: none;
}

.nav-pills li a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #212529;
    width: 110px;
    text-align: center;
}

.nav-pills li a.active {
    color: #4b88eb;
    cursor: default;
    background-color: #f4f6f9;
    border: 1px solid #ced4da;
    border-bottom-color: transparent;
}
td.hidden
{
display:none;
}
