label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
}
img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: pointer;
  }
div.dropdown-menu.ng-star-inserted
{
    display: block;
    height: auto; 
    overflow-y: auto;
    max-height: 200px;
    position: relative; 
    z-index :-1;
}

app-footer
{
    position: fixed;
}
.btn-primary {
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
    margin-left: -7px;
}