input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.table th{
    padding: 0.65rem 0.75rem 0.45rem 0.75rem;
    font-weight: bold;
}

.table td {
   font-size: 14px !important;
}

.ui-table,
.ui-table .ui-table-wrapper table {
  font-size: 14px !important;
  font-family: unicode !important;
}

.dataTables_wrapper {  
    font-size: 14px !important;
    font-family: unicode !important;
}

.modal-dialog {
    position: relative;
    width: auto;
    pointer-events: none;
    min-width: 750px !important;
    margin: 0.15rem auto;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem !important;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.modal-title {
    margin-bottom:0;
    line-height:1.2 !important;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
}

