<div class="wrapper">
    <!-- Navbar -->
    <app-header-sidebar></app-header-sidebar>

    <!-- here here here -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2" style="border: 1px solid #ced4da;border-radius: 0.25rem;">
                    <div class="col-sm-8">
                        <h3 class="m-0 text-dark" style="font-weight: bold;padding: 3px 0px 3px 5px;">
                            Bank Account List
                        </h3>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <form>
                    <div class="row">

                        <div class="form-group col-md-2">
                            <label> Account No </label>
                            <input class="form-control form-control-sm" [(ngModel)]="accountNo"
                                [ngModelOptions]="{standalone: true}">
                        </div>

                        <div class="form-group col-md-2" style = "display: none;">
                            <label> Payment Type </label>
                            <select  id = "parent_id" class="form-control form-control-sm col-md-12 col-sm-4 col-xs-4"
                               [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let payment of paymentList" value = "{{payment.id}}" >
                                  {{payment.payment_type}}
                                </option>
                             </select>
                        </div>

                        <div class="form-group col-md-2">
                            <label> Status </label>
                            <select class="status form-control form-control-sm col-md-12 col-sm-4 col-xs-4"
                                [(ngModel)]="status" [ngModelOptions]="{standalone: true}">
                                <option value="ACTIVE" selected>Active</option>
                                <option value="INACTIVE">Inactive</option>
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                        </div>

                        <div class="form-group col-md-2 col-sm-4 col-xs-4">
                            <label></label>
                            <button id="search" type="button" class="btn btn-block btn-primary btn-sm"
                                style="margin-top: 4%;" (click)="search()">
                                Search
                            </button>
                        </div>

                        <div class="form-group col-md-2 col-sm-4 col-xs-4">
                            <label></label>
                            <button type="button" class="btn btn-block btn-success btn-sm" style="margin-top: 4%;"
                                [routerLink]="['/payment-info-detail']">
                                Add New
                            </button>
                        </div>

                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title" style="font-weight: bold;"> Bank Account List </h3>
                                </div>
                                <!-- /.card-header id="{{'tblpayment' + idIndex}}"-->
                                <div class="card-body">
                                    <table width='100%' id="tblpayment" datatable
                                        [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"
                                        class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="font-family: unicode;">Bank Type</th>

                                                <th style="font-family: unicode;">Type</th>

                                                <th style="font-family: unicode;">Account Number</th>

                                                <th style="font-family: unicode;">Code Number</th>

                                                <th style="font-family: unicode;">Account Name</th>

                                              <!--  <th style="font-family: unicode;">Account Holder(Admin)</th> -->

                                                <th style="font-family: unicode;">Minimum Amount</th>

                                                <th style="font-family: unicode;">Maximum Amount</th>

                                                <th style="font-family: unicode;">Max-Account Count</th>

                                                <th style="font-family: unicode;">Limited Amount</th>

                                                <th style="font-family: unicode;">Today Reach Amount</th>

                                                <th style="font-family: unicode;">Status</th> 

                                                <th style="font-family: unicode;">Order Number</th>

                                                <th style="font-family: unicode;">Created Date</th>
                                                <th style="font-family: unicode;">Updated Date</th>
                                                <th style="font-family: unicode;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let payment of paymentList">

                                                <td style="font-family: unicode;">{{payment.payment_type}}</td>

                                                <td style="font-family: unicode;">{{payment.type}}</td>

                                                <td style="font-family: unicode;">{{payment.account_no}}</td>

                                                <td style="font-family: unicode;">{{payment.code_number}}</td>

                                                <td style="font-family: unicode;">{{payment.account_name}}</td>

                                               <!-- <td style="font-family: unicode;">{{payment.handle_admin_name}}</td>-->
                                                <td style="font-family: unicode;">{{payment.min_amount_Str}}</td>
                                                <td style="font-family: unicode;">{{payment.max_amount_Str}}</td>
                                                <td style="font-family: unicode;">{{payment.maxAccountCount}}</td>
                                                <td style="font-family: unicode;">{{payment.limited_amt_Str}}</td>
                                                
                                                <td style="font-family: unicode;">{{payment.today_reach_amt_Str}}</td>

                                                <td style="font-family: unicode;">{{payment.status}}</td> 

                                                <td style="font-family: unicode;">{{payment.order_id}}</td>

                                                <td style="font-family: unicode;">{{payment.created_date_Str}}</td>

                                                <td style="font-family: unicode;">{{payment.updated_date_Str}}</td>

                                                <td style="font-family: unicode;">
                                                    <a [routerLink]="['/payment-info-detail', payment.id]">
                                                        <i class="fas fa-edit" style="color:#4b88eb;"></i>
                                                    </a> 
                                                    &nbsp;&nbsp;
                                                    <a herf = "#" id = "viewDetailMe" title = "View Detail">
                                                      <i class="far fa-eye" style="color:#4b88eb; cursor: pointer;"
                                                      (click)="goModal(payment.id, payment.account_no, payment.payment_type,payment.code_number, payment.account_name)">
                                                      </i>

                                                    </a>

                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /.row -->
                <!-- /.row -->
            </div>
            <!--/. container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>

    <app-footer></app-footer>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
        <p style="font-size: 16px; color: white">Loading...</p>
    </ngx-spinner>

</div>


<div id="browseAccountHolderList" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content" style="width : 700px; margin-left: -100px;">
        <div class="modal-header">
          <h3 class="modal-title" style="font-weight: bold;font-size: 1.1rem;"> Account Holder (Admin) Detail </h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x </button>
        </div>
  
        <div class="modal-body">
          <form>
            <div class="col-md-12">
  
              <div class="row" style="margin-left: 0.1%;">
                <label class="col-md-2"> Bank Type </label>
                <div class="form-group col-md-3">
                  <input class="form-control form-control-sm" [(ngModel)]="bankName" [ngModelOptions]="{standalone: true}"
                    disabled>
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2">Account Number</label>
                <div class="form-group col-md-3">
                  <input class="form-control form-control-sm" [(ngModel)]="account_no"
                    [ngModelOptions]="{standalone: true}" disabled>
                </div>
              </div>
  
              <div class="row" style="margin-left: 0.1%;">
               
                <label class="col-md-2">Code Number</label>
                <div class="form-group col-md-3">
                  <input class="form-control form-control-sm" [(ngModel)]="code_number" [ngModelOptions]="{standalone: true}"
                    disabled>
                </div>
                <div class="col-md-1"></div>
                <label class="col-md-2">Account Name</label>
                <div class="form-group col-md-3">
                  <input class="form-control form-control-sm" [(ngModel)]="account_name" [ngModelOptions]="{standalone: true}"
                    disabled>
                </div>
              </div>
  
              <div class="col-md-12" style="margin-top: 0.5%;">
                
                <div class="card">
                  <div class="card-body">
                    <table width='100%' id="{{'paymentBankAccountHolderDetaiList' + idIndex2}}" datatable [dtTrigger]="dtTrigger2"
                      [dtOptions]="dtOptions2" class="table table-bordered table-hover">
                      
                      <thead>
                        <tr>
                          <th style="font-family: unicode;">No</th>
                          <th style="font-family: unicode;">Account Holder(Admin)</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let accDetail of paymentBankAccountHolderDetaiList, let i = index">
                          <td style="font-family: unicode;padding: 0.35rem 0.75rem 0.30rem 0.75rem;">{{ i + 1 }}</td>
                          <td style="font-family: unicode;padding: 0.35rem 0.75rem 0.30rem 0.75rem;">
                            {{accDetail.adminName}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
  
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>