<div class="wrapper">
    <!-- Navbar -->
    <app-header-sidebar></app-header-sidebar>

    <!-- here here here -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <!--                 <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Withdraw Detail</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a [routerLink]="['/withdraw-check-list']">Withdraw List</a></li>
                            <li class="breadcrumb-item active">Withdraw Detail</li>
                        </ol>
                    </div>
                </div> -->
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title" style="font-weight: bold;"> Withdrawal Detail </h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <label class="col-md-2"> Date </label>

                                            <div class="form-group col-md-3">
                                                <input type = "text" id="singleDate" readonly class="form-control form-control-sm"                                                  
                                                    [value]="date" [(ngModel)]="date" [ngModelOptions]="{standalone: true}">
                                            </div>

                                            <!--<div class="form-group col-md-3">
                                                <input id="singleDate" readonly class="form-control form-control-sm"
                                                    placeholder="Select Date" [ngxDatePicker]="dateInstanceSingle"
                                                    [value]="singleDate" (valueChange)="onChangeSingle()"
                                                    [(ngModel)]="date" [ngModelOptions]="{standalone: true}">
                                                <ngx-date-picker #dateInstanceSingle></ngx-date-picker>
                                            </div>-->
                                            
                                            <div class="col-md-1"></div>
                                            <label class="col-md-2"> Account No </label>
                                            <div class="form-group col-md-3">
                                            <div class = "row">
                                            <div class="form-group col-md-11">
                                                <input id="accountNo" type="number"
                                                    onKeyPress="if(this.value.length==6) return false;"
                                                    class="form-control form-control-sm"
                                                    [(ngModel)]="userFinancialTransactionDTO.account_no"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (keypress)="numericOnly($event)"> </div>
                                                <div class="form-group col-md-1">
                                                    <button id = "approvedAccBtn" type="button" class="btn btn-sm btn-success"
                                                    (click)="goApprove()">Approved</button>
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-md-2"> User </label>
                                            <div class="form-group col-md-3">
                                                <input id='phoneNo' type="text" list="users"
                                                    class="form-control form-control-sm" [(ngModel)]="this.userFinancialTransactionDTO.phone_no"
                                                    [ngModelOptions]="{standalone: true}">
                                               <!-- <datalist id="users">
                                                    <option *ngFor="let user of userList" value={{user.phone_no}}>
                                                </datalist>-->
                                            </div>
                                            <div class="col-md-1"></div>
                                            <label class="col-md-2"> Amount </label>
                                            <div class="form-group col-md-3">
                                                <input id="amount" type="string" class="form-control form-control-sm"
                                                    [(ngModel)]="userFinancialTransactionDTO.amount"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (keypress)="numericOnly($event)">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-md-2">Payment</label>
                                            <div class="form-group col-md-3">
                                                <div class="row">
                                                    <a *ngFor = "let item of paymentList">
                                                        <div class="col-lg-3">
                                                            <img id="{{item.id}}" [src]="item.image_url" width = "80px" hegith = "80px" style="margin-top: 5%;object-fit: cover;border: 3px solid #ffffff;border-radius: 10px;border-color: #ffffff;"
                                                            >
                                                        </div>
                                                    </a>
                                                   <!--
                                                    <div id="paymentId" class="col-md-3" align="left">
                                                        <img *ngIf="!clickkbzpay" src="assets/image/kbzpayb&w.png"
                                                            style="width: 75px;object-fit: cover;border: 2px solid #ffffff;border-radius: 10px;border-color: #ffffff;">
                                                        <img *ngIf="clickkbzpay" src="assets/image/kbzpay.png"
                                                            style="width: 75px;object-fit: cover;border: 2px solid #26a9e1;border-radius: 10px;border-color: #26a9e1;">
                                                    </div>

                                                    <div id="paymentId" class="col-md-3" align="left">
                                                        <img *ngIf="!clickcbpay" src="assets/image/cbpayb&w.png"
                                                            style="width: 75px;object-fit: cover;border: 2px solid #ffffff;border-radius: 10px;border-color: #ffffff;">
                                                        <img *ngIf="clickcbpay" src="assets/image/cbpay.png"
                                                            style="width: 75px;object-fit: cover;border: 2px solid #26a9e1;border-radius: 10px;border-color: #26a9e1;">
                                                    </div>

                                                    <div id="paymentId1" class="col-md-3" align="center">
                                                        <img *ngIf="!clickwavepay" src="assets/image/wavepayb&w.png"
                                                            style="width: 75px;object-fit: cover;border: 2px solid #ffffff;border-radius: 10px;border-color: #ffffff;">
                                                        <img *ngIf="clickwavepay" src="assets/image/wavepay.png"
                                                            style="width: 75px;object-fit: cover;border: 2px solid #26a9e1;border-radius: 10px;border-color: #26a9e1;">
                                                    </div>
                                                    <div align="paymentId2" class="col-md-3" align="end">
                                                        <img *ngIf="!clickwavemoney" src="assets/image/wavemoneyb&w.png"
                                                            style="width: 75px;object-fit: cover;border: 2px solid #ffffff;border-radius: 10px;border-color: #ffffff;">
                                                        <img *ngIf="clickwavemoney" src="assets/image/wavemoney.png"
                                                            style="width: 75px;object-fit: cover;border: 2px solid #26a9e1;border-radius: 10px;border-color: #26a9e1;">
                                                    </div>
                                                    -->
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <label class="col-md-2" id="wavePassword"> Wave Password </label>
                                            <div class="form-group col-md-3" id="wavePassword1">
                                                <input id="wp" type="number" class="form-control form-control-sm"
                                                    [(ngModel)]="userFinancialTransactionDTO.wavePassword"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (keypress)="numericOnly($event)">
                                            </div>
                                        </div>
                                        <!-- 
                                        <div class="row" id="wavePassword">
                                            <label class="col-md-2">Wave Password</label>
                                            <div class="form-group col-md-3">
                                                <input id="wp" type="number" class="form-control form-control-sm"
                                                    [(ngModel)]="userFinancialTransactionDTO.wavePassword"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (keypress)="numericOnly($event)">
                                            </div>
                                        </div>

                                       <div class="row">
                                            <label class="col-md-2">Account No</label>
                                            <div class="form-group col-md-3">
                                                <input id="accountNo" type="number" onKeyPress="if(this.value.length==6) return false;" class="form-control form-control-sm" [(ngModel)]="userFinancialTransactionDTO.accountNo" [ngModelOptions]="{standalone: true}" (keypress)="numericOnly($event)">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-md-2">Amount</label>
                                            <div class="form-group col-md-3">
                                                <input id="amount" type="number" class="form-control form-control-sm"
                                                    [(ngModel)]="userFinancialTransactionDTO.amount"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (keypress)="numericOnly($event)">
                                            </div>
                                        </div> -->

                                        <div class="row" id="status">
                                            <label class="col-md-2">Status</label>
                                            <div class="form-group col-md-3">
                                                <select class="form-control form-control-sm col-md-12 col-sm-4 col-xs-4"
                                                    [(ngModel)]="userFinancialTransactionDTO.status"
                                                    [ngModelOptions]="{standalone: true}" id="approvestatus">
                                                    <option *ngFor="let status of statusList" value={{status}}>
                                                        {{status}}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 1%;">
                                            <div class="col-md-2 col-sm-6">
                                                <button id = "idsave" type="button" class="btn btn-block btn-success"
                                                    (click)="goSave()">Save</button>&nbsp;</div>
                                            <div class="col-md-2 col-sm-6">
                                                <button type="button" class="btn btn-block btn-danger"
                                                [routerLink] = "['/withdraw-check-list']">Cancel</button></div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <form>
                                        <div class="row" style="margin-top: 1.7%;">
                                            <label class="col-md-2"> Requested Date </label>
                                            <div class="form-group col-md-3">
                                                <input class="form-control form-control-sm"
                                                    [(ngModel)]="userFinancialTransactionDTO.created_date"
                                                    [ngModelOptions]="{standalone: true}" disabled>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <label class="col-md-2"> Requested By</label>
                                            <div class="col-md-3">
                                                <input class="form-control form-control-sm"
                                                    [(ngModel)]="userFinancialTransactionDTO.name"
                                                    [ngModelOptions]="{standalone: true}" disabled>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 1%;">
                                            <label class="col-md-2"> Updated Date </label>
                                            <div class="form-group col-md-3">
                                                <input class="form-control form-control-sm"
                                                    [(ngModel)]="userFinancialTransactionDTO.updated_date"
                                                    [ngModelOptions]="{standalone: true}" disabled>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <label class="col-md-2"> Updated By </label>
                                            <div class="col-md-3">
                                                <input class="form-control form-control-sm"
                                                    [(ngModel)]="userFinancialTransactionDTO.updated_by"
                                                    [ngModelOptions]="{standalone: true}" disabled>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>

                </form>
                <!-- /.row -->

                <!-- /.row -->
            </div>
            <!--/. container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>

    <app-footer></app-footer>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
        <p style="font-size: 16px; color: white">Loading...</p>
    </ngx-spinner>

</div>


<div id="deleteData" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <form>

                    <div class="row" style="margin-top: 5%;margin-bottom: 3%;margin-left: 9%;">
                        <div class="form-group col-md-12">
                            <h5> This Account is used by another device. 
                                Please Sign Out. Login Again. </h5>
                        </div>
                    </div>

                    <div class="row" style="margin-left: 40%;margin-bottom: 3%;">
                        <div class="col-md-5 col-sm-6" id="deleteBtn">
                            <button type="button" class="btn btn-block btn-success" (click)="OkLogout()"> Ok </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>