.content-header {
    padding: 15px 0.8rem 15px 1rem;
}

.table th{
    padding: 4px 17px 1px 17px !important;
    font-weight: bold;
}

.table td {
   font-size: 14px !important;
}

.ui-table,
.ui-table .ui-table-wrapper table {
  font-size: 14px !important;
  font-family: unicode !important;
}

.dataTables_wrapper {  
    font-size: 14px !important;
    font-family: unicode !important;
}
.req
{
    color : red;
}

i.fas.fa-file-csv {
    padding: 0px 0px 0px 20px;
    
}
i.fas.fa-file-excel {
    padding: 0px 20px 0px 0px;
}
.sug
{
    font-size: 12px;
}
.icon-gp
{
    margin-right:50px;
    cursor:pointer;
}
i.fas.fa-file-csv:hover {
    color:blue;
  }
  i.fas.fa-file-excel:hover {
    color: blue;
}
i.fas.fa-file-pdf:hover {
    color:rgb(161, 161, 211);
  }
 
  i.fas.fa-file-excel.active{
    color: deeppink;
  }
  i.fas.fa-file-pdf.pdfactive{
    color: deeppink;
}
i.fas.fa-file-csv.csvactive{
    color: deeppink;
}
  .choose_msg
  {
      color: blue;
      font-size: 12px;
      padding-left: 12px;
  }
  .form-group.col-md-2.col-sm-4.col-xs-4 {
    margin: -20px 0px 0px 0px;
}

