input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.table th{
    padding: 0.65rem 0.75rem 0.45rem 0.75rem;
    font-weight: bold;
}

.table td {
   font-size: 14px !important;
}

.ui-table,
.ui-table .ui-table-wrapper table {
  font-size: 14px !important;
  font-family: unicode !important;
}

.dataTables_wrapper {  
    font-size: 14px !important;
    font-family: unicode !important;
}