input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
}

.modal-dialog {
    position: relative;
    width: 25% !important;
    pointer-events: none;
    margin: 1rem auto;
}



