<div class="wrapper">
    <!-- Navbar -->
    <app-header-sidebar></app-header-sidebar>

    <!-- here here here -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <!--                 <div class="row mb-2">
                    <div class="col-sm-8">
                        <h1 class="m-0 text-dark"> 2D Bet Amount Limitation</h1>
                    </div>
                </div> -->
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title" style="font-weight: bold;">2D Bet Amount Limitation Detail
                                    </h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <label class="col-md-1"> Amount </label>
                                            <div class="form-group col-md-2">
                                                <input type="number" class="form-control form-control-sm"
                                                    [(ngModel)]="amount"
                                                    [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>

                                        <div class  = "row">
                                            
                                            <div class="col-md-2"style="display: none;">
                                                <div class="row">
                                                    <label class="col-md-3"> Date</label>
                                                    <div class="form-group col-md-6">
                                                        <input id="singleDate" readonly
                                                            class="form-control form-control-sm"
                                                            placeholder="Select Date"
                                                            [ngxDatePicker]="dateInstanceSingle" [value]="singleDate" [ngModel] = "for_format_date"
                                                            (valueChange)="onChangeSingle()">
                                                        <ngx-date-picker #dateInstanceSingle></ngx-date-picker>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                      
                                           <div class="col-md-3" style="margin-top: 0.8%;">
                                            <div class="row">
                                            <label class="col-md-4">Section</label>
                                                <div class="form-group col-md-6 radio">
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-success d-inline">
                                                            <input type="radio" name="r3" checked id="radioSuccess1"
                                                                value="AM" [(ngModel)]="time"
                                                                [ngModelOptions]="{standalone: true}">
                                                            <label for="radioSuccess1"> AM
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                        </div>
                                                        <div class="icheck-success d-inline">
                                                            <input type="radio" name="r3" id="radioSuccess2" value="PM"
                                                                [(ngModel)]="time"
                                                                [ngModelOptions]="{standalone: true}">
                                                            <label for="radioSuccess2"> PM </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        

                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                            <button id="apply" type="button"
                                                class="btn btn-block btn-success btn-sm" (click)="apply()">
                                                Apply
                                            </button>
                                        </div>
                                    
                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                            <button id="apply" type="button"
                                                class="btn btn-block btn-danger btn-sm"  [routerLink] = "['/twod-bet-amount-limitation-list']">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                        <div class="col-md-12" 
                                            style="border: 1px solid #ced4da;border-radius: 0.25rem;">
                                         
                                            <div class="col-md-2 col-sm-4 col-xs-4" style="margin-top: 1%;">
                                                <button id="selectALL" type="button"
                                                    class="btn btn-block btn-primary btn-sm" (click)="selectAll()">
                                                    Select All
                                                </button>
                                            </div>
    
                                            <div class="row" style="margin-top: 35px;margin-left: 17px;">
                                                <div class="col-md-1 col-sm-1"
                                                    *ngFor="let n of twodbetnumber;let j = index">
                                                    <div (click)="twoDSelect(n,j)"
                                                        style="margin-top: 5px;margin-bottom: 5px;">
                                                        <button *ngIf="n.betNo != 'aa'"
                                                            [style.backgroundColor]="n.buttonColor"
                                                            style="border-radius: 5px;width: 40px;height: 40px;" full>
                                                            <span [style.color]="n.textcolor"
                                                                style="text-transform: none;"> {{n.betNo}}
                                                            </span>
                                                        </button>
                                                    </div>

                                                    <div style="margin-top: 5px;margin-bottom: 5px;">
                                                        <button *ngIf="n.betNo == 'aa'"
                                                            [style.backgroundColor]="n.buttonColor"
                                                            style="height: 4.8rem !important;border-radius: 5px;opacity: -1.5;width: 40px;height: 40px;"
                                                            full>
                                                            <span [style.color]="n.textcolor"
                                                                style="text-transform: none;"> {{n.betNo}}
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /.row -->
                <!-- /.row -->
            </div>
            <!--/. container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>

    <app-footer></app-footer>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
        <p style="font-size: 16px; color: white">Loading...</p>
    </ngx-spinner>

</div>