<div class="wrapper">
  <app-header-sidebar></app-header-sidebar>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2" style="border: 1px solid #ced4da;border-radius: 0.25rem;">
          <div class="col-sm-6">
            <h3 class="m-0 text-dark" style="font-weight: bold;padding: 3px 0px 3px 5px;"> User Password Reset </h3>
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <form>
          <div class="row">

            <div class="col-md-12">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs nav-pills"> 
                <li  (click)="pendingSearch()">
                  <a  class="active" id="pending-tab" data-toggle="tab" style="width:100% !important" href="#pending"> PENDING FOR BANK SLIP </a>
                </li>
                <li (click)="approveSearch()">
                  <a id="approve-tab" data-toggle="tab" style="width:100% !important" href="#approve"> APPROVE FOR BANK SLIP</a>
                </li>
                <li (click)="rejectedSearch()">
                  <a id="rejected-tab" data-toggle="tab" style="width:100% !important" href="#rejected"> REJECTED FOR BANK SLIP</a>
                </li>
                <li (click)="inActivedUserSearch()">
                  <a id="inactived-tab" data-toggle="tab" style="width:100% !important" href="#inactived"> INACTIVED USER BY RESET QUESTION</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content clearfix">
 
                <div class="tab-pane" id="approve">
                  <div class="row"> 
                    <div class="form-group col-md-2">
                      <label>Phone Number</label>
                      <input type="number"
                        class="form-control form-control-sm" [(ngModel)]="approvephoneno"
                        [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group col-md-2">
                      <label>From Date</label>
                      <input id="approveFromDate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstanceApprove" [value]="approveFromDate" [(ngModel)]="approvefromdate"
                        [ngModelOptions]="{standalone: true}"  (valueChange)="onChangeApproveFromDate()">
                      <ngx-date-picker #dateInstanceApprove></ngx-date-picker>
                    </div>
                     
                    <div class="form-group col-md-2">
                      <label>To Date</label>
                      <input id="approveToDate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstanceApprove1" [value]="approveToDate" [(ngModel)]="approvetodate"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangeApproveToDate()">
                      <ngx-date-picker #dateInstanceApprove1></ngx-date-picker>
                    </div>
   
                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                      <label></label>
                      <button id="search" type="button" class="btn btn-block btn-primary btn-sm" style="margin-top: 4%;"
                        (click)="approveSearch()">Search</button>
                    </div>  

                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title" style="font-weight: bold;"> Approved List</h3>
                        </div>
                        <div class="card-body">
                          <table width='100%' id="{{'tblapprove' + idapproveIndex}}" datatable
                            [dtTrigger]="dtTrigger1" [dtOptions]="dtOptions1" class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th style="font-family: unicode;">Name</th>
                                <th style="font-family: unicode;">Phone No</th>
                                <th style="font-family: unicode;">Request Status</th>
                                <th style="font-family: unicode;">Action</th> 
                              </tr>
                            </thead> 
                            <tbody>
                              <tr *ngFor="let fgp of fgpwdapproveList">
                                <td style="font-family: unicode;">{{fgp.name}}</td>
                                <td style="font-family: unicode;" class="text-right">{{fgp.phone_no}}</td>
                                <td style="font-family: unicode;">{{fgp.requestStatus}}</td> 
                                <td style="font-family: unicode;">
                                  <a [routerLink]="['/userforgotpassworddetail', fgp.id]">
                                    <i class="fas fa-edit" style="color:#4b88eb"></i>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>  
                <div class="tab-pane show active" id="pending">
                  <div class="row">

                    <div class="form-group col-md-2">
                      <label>Phone Number</label>
                      <input type="number" 
                        class="form-control form-control-sm" [(ngModel)]="pendingphoneno"
                        [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group col-md-2">
                      <label>From Date</label>
                      <input id="pendingFromDate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstancePending" [value]="pendingFromDate" [(ngModel)]="pendingfromdate"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangePendingFromDate()">
                      <ngx-date-picker #dateInstancePending></ngx-date-picker>
                    </div>
                    
                    <div class="form-group col-md-2">
                      <label>To Date</label>
                      <input id="pendingToDate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstancePending1" [value]="pendingToDate" [(ngModel)]="pendingtodate"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangePendingToDate()">
                      <ngx-date-picker #dateInstancePending1></ngx-date-picker>
                    </div>

                   <!-- <div class="col-md-4"></div> -->

                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                      <label></label>
                      <button id="search" type="button" class="btn btn-block btn-primary btn-sm" style="margin-top: 4%;"
                        (click)="pendingSearch()">Search</button>
                    </div>   
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title" style="font-weight: bold;">Pending List</h3>
                        </div>
                        <div class="card-body">
                          <table width='100%' id="{{'tblpending' + idpendingIndex}}" datatable
                            [dtTrigger]="dtTrigger3" [dtOptions]="dtOptions3" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                              <th style="font-family: unicode;">Name</th>
                              <th style="font-family: unicode;">Phone No</th>
                              <th style="font-family: unicode;">Request Status</th>
                              <th style="font-family: unicode;">Action</th> 
                            </tr>
                          </thead>
                            <tbody>
                              <tr *ngFor="let fgp of fgpwdppengingList">
                                <td style="font-family: unicode;">{{fgp.name}}</td>
                                <td style="font-family: unicode;" >{{fgp.phone_no}}</td>
                                <td style="font-family: unicode;">{{fgp.requestStatus}}</td> 
                                <td style="font-family: unicode;">
                                  <a [routerLink]="['/userforgotpassworddetail', fgp.id]">
                                    <i class="fas fa-edit" style="color:#4b88eb"></i>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="tab-pane" id="rejected">
                  <div class="row">

                    <div class="form-group col-md-2">
                      <label>Phone Number</label>
                      <input type="number"
                        class="form-control form-control-sm" [(ngModel)]="deniedphoneno"
                        [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group col-md-2">
                      <label>From Date</label>
                      <input id="deniedFromDate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstanceDenied" [value]="deniedFromDate" [(ngModel)]="deniedfromdate"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangeDeniedFromDate()">
                      <ngx-date-picker #dateInstanceDenied></ngx-date-picker>
                    </div>

                    <div class="form-group col-md-2">
                      <label>To Date</label>
                      <input id="deniedToDate" readonly class="form-control form-control-sm" placeholder="Select Date"
                        [ngxDatePicker]="dateInstanceDenied1" [value]="deniedToDate" [(ngModel)]="deniedtodate"
                        [ngModelOptions]="{standalone: true}" (valueChange)="onChangeDeniedToDate()">
                      <ngx-date-picker #dateInstanceDenied1></ngx-date-picker>
                    </div> 
                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                      <label></label>
                      <button id="search" type="button" class="btn btn-block btn-primary btn-sm" style="margin-top: 4%;"
                        (click)="rejectedSearch()">Search</button>
                    </div>  

                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title" style="font-weight: bold;">Rejected List</h3>
                        </div>
                        <div class="card-body">
                          <table width='100%' id="{{'tbldenied' + iddeniedIndex}}" datatable
                            [dtTrigger]="dtTrigger4" [dtOptions]="dtOptions4" class="table table-bordered table-hover">
                           <thead>
                            <tr>
                              <th style="font-family: unicode;">Name</th>
                              <th style="font-family: unicode;">Phone No</th>
                              <th style="font-family: unicode;">Request Status</th>
                              <th style="font-family: unicode;">Action</th> 
                            </tr>
                           </thead>
                            <tbody>
                              <tr *ngFor="let fgp of fgpwddeniedList">
                                <td style="font-family: unicode;">{{fgp.name}}</td>
                                <td style="font-family: unicode;">{{fgp.phone_no}}</td> 
                                <td style="font-family: unicode;">{{fgp.requestStatus}}</td> 
                                <td style="font-family: unicode;">
                                  <a [routerLink]="['/userforgotpassworddetail', fgp.id]">
                                    <i class="fas fa-edit" style="color:#4b88eb"></i>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="tab-pane" id="inactived">
                  <div class="row"> 
                    <div class="form-group col-md-2">
                      <label>Phone Number</label>
                      <input type="number"
                        class="form-control form-control-sm" [(ngModel)]="inactivatedphoneno"
                        [ngModelOptions]="{standalone: true}" >
                    </div> 

                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                      <label></label>
                      <button id="search" type="button" class="btn btn-block btn-primary btn-sm" style="margin-top: 4%;"
                        (click)="inActivedUserSearch()">Search</button>
                    </div>  

                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title" style="font-weight: bold;">InActived List</h3>
                        </div>
                        <div class="card-body">
                          <table width='100%' id="{{'tblinactivate' + inactivatedIndex}}" datatable
                            [dtTrigger]="dtTrigger5" [dtOptions]="dtOptions5" class="table table-bordered table-hover">
                           <thead>
                            <tr>
                              <th style="font-family: unicode;">Name</th>
                              <th style="font-family: unicode;">Phone No</th>
                              <th style="font-family: unicode;">Register Date</th>
                              <th style="font-family: unicode;">Last Login Date</th>
                              <th style="font-family: unicode;">First Topup Date</th>
                              <th style="font-family: unicode;">First Topup Amount</th>
                              <th style="font-family: unicode;">Action</th> 
                            </tr>
                           </thead>
                            <tbody>
                              <tr *ngFor="let fgp of fgpinactivatedList">
                                <td style="font-family: unicode;">{{fgp.name}}</td>
                                <td style="font-family: unicode;">{{fgp.phone_no}}</td> 
                                <td style="font-family: unicode;">{{fgp.created_date}}</td> 
                                <td style="font-family: unicode;">{{fgp.lastLogin}}</td> 
                                <td style="font-family: unicode;">{{fgp.first_topup_date}}</td>
                                <td style="font-family: unicode;">{{fgp.first_topup_amt}}</td> 
                                <td style="font-family: unicode;">
                                  <button id="search" type="button" class="btn btn-block btn-primary btn-sm" style="margin-top: 4%;"
                                  (click)="reActive(fgp.phone_no)">Re Active</button> 
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

          </div>
        </form>
        <!-- /.row -->

        <!-- /.row -->
      </div>
      <!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>

  <app-footer></app-footer>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
    <p style="font-size: 16px; color: white">Loading...</p>
  </ngx-spinner>
</div>

<div id="deleteData" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-body">
              <form>

                  <div class="row" style="margin-top: 5%;margin-bottom: 3%;margin-left: 9%;">
                      <div class="form-group col-md-12">
                          <h5> This Account is used by another device. 
                              Please Sign Out. Login Again. </h5>
                      </div>
                  </div>

                  <div class="row" style="margin-left: 40%;margin-bottom: 3%;">
                      <div class="col-md-5 col-sm-6" id="deleteBtn">
                          <button type="button" class="btn btn-block btn-success" (click)="OkLogout()"> Ok </button>
                      </div>
                  </div>
              </form>
          </div> 
      </div>
  </div>
</div> 
 
